<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">
<head>
<title>Test Page of Web app</title>
	<style>
	body {
	 	background-image: url('pics/lighspeed_2.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
	</style>
</head>
<body>

	<div layout:fragment="loginContent">

		<form name="login" th:action="@{/login}" method="post" class="form-signin">
			<h2 class="form-signin-heading">Please log in!</h2>
			<div id="err" th:if="${param.error}" class="alert alert-danger">wrong username or password</div>
			<div th:if="${param.logout}" class="alert alert-success">Successfull Logout</div>
			<label for="username" class="sr-only">UserName</label> 
			    <input type="text" id="username" name="username" class="form-control" placeholder="Felhasználói név" required="true" /> 
			<label for="password" class="sr-only">Password</label> 
			    <input type="password" id="password" name="password" class="form-control" placeholder="Jelszó" required="true" />
			<div class="checkbox">
				<label> <input id="remember-me" name="remember-me" type="checkbox" /> remember me
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">LogIn</button>
		</form>

	</div>

</body>
</html>